@charset " utf-8";
/* css document */

@import url(reset.css);

#wrap {display: flex; flex-direction: column;}
#header {height: 25%;}
.gnb_area {display: flex; flex-wrap: nowrap; width: 1440px; height: 79px; margin: 0 auto;}
.logo {width: 10%;}
.logo a {display: inline-block; line-height: 1.5;}
.logo a img {width: 100%; padding: 27px 0;}

.gnb {width: 65%; text-align: center; z-index: 2;}
.depth1 {display: flex; flex-wrap: nowrap;}
.depth1 > li {width: 16.666666%; line-height: 1.4;}
.depth1 > li > a {display: block; font-size: 18px;text-decoration:none; font-weight: 500; padding: 24px 0;}
.depth1 > li:hover > a, .depth1 > li:focus > a {border-bottom: 6px solid #6b6b6b; }
.depth2 {display: none; width: 100%; z-index: 2;} /*  border-left: 1px solid rgb(223, 223, 223); */
.depth2 > li {width: 100%; background: #fff;}
.depth2 li:hover > a, .depth2 li:focus > a {text-decoration: none; background: #6b6b6b; color: rgb(228, 228, 228);}
.depth2:first-child {border-left: 0;}
.depth2 li a {display:block; font-size: 16px; line-height: 5; font-weight: 300; }

.util {width: 13%;}
.util ul {display: flex; flex-wrap: nowrap;}
.util li {width: 25%; line-height: 6.7;}
.util li:last-child {padding-right: 0;}
.util li a{color: #969696; padding: 30px 0;}

.mainsearch_icon {cursor: pointer; height: 100%; border: 0; background: 0;}
/*button {position: absolute;top: 0;right: 240px;margin-top: 10px;border: 0;background: 0;padding: 0;display: block;cursor: pointer;}*/
.mainsearch_icon img {width: 100%; padding: 12px 0;}
#search {width: 9%;}
.main_search form{padding: 26px 0;}
.main_search form input{width: 100%;}
.search_wrap {display: none; top: 0;left: 0;position: fixed;background: #000000b0;z-index: 3;width: 100%; height: 100%;}
.search_wrap form input[type="search"] {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin-top: 50px; width: 50%; color: rgb(255, 255, 255); background: transparent; border-top: 1px solid rgba(255, 255, 255, .8); border-bottom: 2px solid rgba(255, 255, 255, .5); border-left: 0px solid transparent; border-right: 0px solid transparent; font-size: 40px; font-family: Roboto; font-weight: 300; text-align: center; outline: none; padding: 10px;}
.search_wrap .search_close {position: fixed; top: 50px; right: 70px; opacity: 1; font-size: 50px; color: #fff;}
.search_wrap .search_close:hover {color: #FC2121; cursor: pointer;}

.visual {height: 25%; position: relative;z-index: 1;}/*button의 부모역할*/
.visual .brandVisual {position: relative; overflow: hidden; height: 600px;}
.visual .brandVisual li {position: absolute;width: 100%; top: 0; }
.visual .brandVisual li a {text-indent: -2000px; overflow: hidden; display: block; height: 600px;}
.visual .brandVisual .visual_0 {background-image: url(../image/slideimg01.jpg); left: 0;}
.visual .brandVisual .visual_1 {background-image: url(../image/slideimg02.jpg); left: 100%;}
.visual .brandVisual .visual_2 {background-image: url(../image/slideimg03.jpg); left: 200%;}
.visual .button_list {position: absolute; top: 50%;left: 50%; transform: translate(-50%, -50%); margin-top: 280px; background-position: center center;}
.visual .button_list li {float: left; display: block;width: 14px;height: 16px;background-image: url(../image/btn_b.png);text-indent: -100px;overflow: hidden;cursor: pointer;margin: 0 3px;background-position: 0 -16px;}
.visual .button_list .on{background-position: 0 0;}

.contents {height: 25%; width: 1440px; margin: 0 auto;}
/*신상품*/
.newproduct {padding: 80px 0; overflow: hidden;}
.newproduct_title {padding-bottom: 4px;font-size: 34px;letter-spacing: 2px;}
.newproduct_wrap {overflow: hidden;}
.newproduct_wrap ul {overflow: hidden;padding: 50px 80px;border-top: 2px solid #bfbfbf;}
.newproduct_wrap li{position: relative;float: left;padding-bottom: 68px;background: #fff;padding-right: 40px;}
.newproduct_wrap .quick_icon {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%); margin-top: -28px;margin-left: -20px; opacity: 0.9;}
.quick_icon .favoriteoff {display: none; width: 24px; height: 24px;}
.newproduct_wrap .item:hover .favoriteoff {opacity: 0.9; z-index: 500;}
.newproduct_wrap li:last-child{padding-right: 0;}
.newproduct_wrap li a{display: block;width: 290px;height: 290px;text-align: center;}
.newproduct_wrap a:hover {text-decoration: none;}
.newproduct_wrap li img {width: 100%;}
.newproduct_wrap .item_name {font-size: 15px; }
.newproduct_wrap .price {font-size: 22px;line-height: 1.6;font-weight: 700;}

.c_p {overflow: hidden; padding: 0 80px 80px;}
.cons{float: left; width: 492px;height: 300px;background: #000;}
.cons a {display: block;}
.cons a img {width: 100%;}
.cup {float: left; width: 352px; height: 300px;background: #000; margin: 0 42px;}
.cup a {background-image: url(../image/cup.jpg); height: 300px; display: block;background-size:100% auto;}
.pen {float: left; width: 352px; height: 300px;background: #000;}
.pen a{background-image: url(../image/pen.jpg); height: 300px; display: block;background-size:100% auto;transition: background 1s;}

.peter  {text-align: center;}
.peter a {display: block;}
.peter a img {width: 1280px;}
.atel {background-image: url(../image/at.jpg); margin: 200px 0 200px;background-repeat: no-repeat;background-attachment: fixed;background-position: center center;min-width: 700px;}
.atel .at {text-align: center;}

.instagram  {overflow: hidden;}
.instagram .ig_title {height: 53px;border-bottom: 2px solid #bfbfbf;padding-bottom: 4px;font-size: 34px;letter-spacing: 2px;}
.instagram ul {padding: 80px 0 200px 80px;}
.instagram li {float: left;overflow: hidden;margin:6px;}
.instagram li:nth-child(5), .instagram li:nth-child(10), .instagram li:nth-child(15) {margin-right: 0;}
.instagram li a{width: 246px; height: 246px; display: block; overflow: hidden;text-indent: -100px;background-position: center center; transition: background 0.5s; background-size: 100%;}
.instagram li:nth-child(1) a{background-image: url(../image/igimg01.jpg);}
.instagram li:nth-child(2) a{background-image: url(../image/igimg02.jpg);}
.instagram li:nth-child(3) a{background-image: url(../image/igimg03.jpg);}
.instagram li:nth-child(4) a{background-image: url(../image/igimg04.jpg);}
.instagram li:nth-child(5) a{background-image: url(../image/igimg05.jpg);}
.instagram li:nth-child(6) a{background-image: url(../image/igimg06.jpg);}
.instagram li:nth-child(7) a{background-image: url(../image/igimg07.jpg);}
.instagram li:nth-child(8) a{background-image: url(../image/igimg08.jpg);}
.instagram li:nth-child(9) a{background-image: url(../image/igimg09.jpg);}
.instagram li:nth-child(10) a{background-image: url(../image/igimg10.jpg);}
.instagram li:nth-child(11) a{background-image: url(../image/igimg11.jpg);}
.instagram li:nth-child(12) a{background-image: url(../image/igimg12.jpg);}
.instagram li:nth-child(13) a{background-image: url(../image/igimg13.jpg);}
.instagram li:nth-child(14) a{background-image: url(../image/igimg14.jpg);}
.instagram li:nth-child(15) a{background-image: url(../image/igimg15.jpg);}
.instagram li:nth-child(1), .instagram li:nth-child(6), .instagram li:nth-child(11) {margin-left: 0;}
.instagram li a:hover {background-size: 120%;}

.g_g {overflow: hidden; padding: 0 80px 80px 80px;}
.g_g .gi {float: left;width: 618px;}
.g_g .itf {float: right; width: 618px;}
.g_g .gi img, .g_g .itf img {width: 100%;}

/*푸터*/
#footer {height:25%;}
.footer_wrap {background-color: #252525; height: 375px;}
.footmenu {display: flex; width: 1440px; margin: 0 auto; padding: 20px 0;}
.footmenu .footmenu_wrap {display: flex; width: 50%;}
.footmenu_wrap > li {width: 20%; line-height: 2; color: rgb(216, 216, 216);  }
.footmenu_wrap .menu_name {font-size: 18px; font-weight: 500;}
.footmenu_wrap .sub_menu li a {color: rgb(189, 189, 189); font-weight: 300; font-size: 12px;}

.right {display: flex; width: 50%;}
.right .sns_icon {width: 50%;}
.right .sns_icon_title {line-height: 2; color: rgb(216, 216, 216);}
.right .sns_icon a{line-height: 5; width: 65px; background-image: url(../image/sns_sp.png);}
.right .sns_icon a:hover, .right .sns_icon a:focus {border-bottom: 3px solid #fbfbfb;}
.right .sns_icon a.sns_fb {background-position: 7px, 0px; background-size: 204px 49px;}
.right .sns_icon a.sns_tw {background-position: 113px, 0px; background-size: 214px 52px;}
.right .sns_icon a.sns_yt {background-position: 62px, 0px; background-size: 234px 52px;}
.right .sns_icon a.sns_ig {background-position: 160px, 0px; background-size: 202px 49px;}
.right .sns_icon a {display: inline-block; color: transparent;}
.right .newsletter {width: 50%;}
.right .newsletter_wrap .newletter_title {text-align: left; line-height: 2; color: rgb(216, 216, 216);}
.right .newsletter_wrap form {line-height: 5;}
.right .newsletter_wrap input[type="email"] {line-height: 26px; height: 26px; padding-left: 8px;}
.right .newsletter_wrap legend, .newsletter_wrap label {position: absolute; left: 0; top: 0; color: transparent;}
.right .newsletter_wrap button{width: 52px; line-height: 28px; border: 1px solid rgb(255, 255, 255); color: rgb(189, 189, 189); background: 0;}

.footarticle_wrap {display: flex; flex-direction: column; width: 1440px; margin: 0 auto; border-top: 1px solid rgb(223 223 223 / 50%); padding: 20px 0;}
.footarticle_wrap .foot_logo {width: 12%; height: 40px; display:inline-block;}
.footarticle_wrap .foot_logo img {width: 100%; padding: 8px 0;}
.footarticle_wrap .foot_info {font-size: 12px; font-weight: 300; color: rgb(216, 216, 216); line-height: 1.5;}
.foot_info a {color: #252525; font-weight: normal; border-radius: 4px; line-height: 1.5; padding: 0px 4px; display: inline-block; background: rgb(203 203 203);}
.footarticle_wrap address {padding-top: 10px; font-weight: 300; font-size: 12px; color: rgb(134, 134, 134); font-style: normal;}



.mo_bg, .open, .mo_gnb   {display: none;}
@media screen and (max-width:600px) {
    .mo_bg,  .open, .mo_gnb  {display: block;}
    .gnb, .search, .util, .buttonList, .newproduct_wrap li:nth-of-type(4), .sns, footer .footmenu, .atel, .re, .pen, footer p  {display: none;}
    img {width: 100%;}
    body {font-size: 18px;}
    .gnb_area {position: relative;}
    .gnb_area .logo {text-align: center;padding: 4vw 0 3vw;}
    .gnb_area .logo img{width: 24%;}
    .visual .brandVisual, .visual .brandVisual li a{height:36vw }
    .visual .brandVisual li{width: 100%; background-size: 100% auto;background-repeat: no-repeat;}
    .newproduct_wrap {padding: 7vw 5vw;overflow: hidden;}
    .newproduct_wrap li {float: left;width:  25.33%; padding-left: 12%;background-size: 100%;}
    .newproduct_wrap li:first-child{padding-left: 0;}
    .newproduct_wrap li a{background-size: 100%; background-repeat: no-repeat;display: block; overflow: hidden;width: 100%; height: 31.36vw;}
    .peter {padding: 7vw 0;}
    .g_g  {padding-bottom: 7vw;}
    .g_g .gi {padding-bottom: 7vw;}
    .footer {background-color: #000;height: 14vw;text-align: center;}
    .footer address {font-style: normal;font-size: 11px;padding: 3vw 0 1vw;color: #fff;}
}

/* sub 1*/
.jewelry {width: 1440px; margin: 0 auto;}
.jewelry_menu p{height: 230px; background: url(/image/sub_image/j_mbg.jpg);}

.jewelry_coll {margin: 80px 0;}
.jewelry_coll .jewelry_info .list_5  {display: flex; flex-direction: column; width: 1440px; margin: 0 auto;}
.jewelry_coll .jewelry_info .list_5 > li {height: 20%; margin: 40px 0;}
.jewelry_info .list_5 > li .bg {display: flex; flex-direction: row; height: 600px;}
.jewelry_info .list_5 > li .bg .coll_info {width: 45%; text-align: center;color: #fefefe; font-size: 66px; font-weight: bolder; padding-top: 240px;}
.jewelry_info .list_5 > li .bg .info_txt {width: 55%; color: #fefefe; font-size: 26px; padding-top: 274px; padding-right: 20px;}
.jewelry_info .list_5 > li:nth-of-type(2) .bg .info_txt {color: #b05476;}
.jewelry_info .list_5 > li:nth-of-type(4) .bg .info_txt {color: #432e06;}
.jewelry_info .list_5 > li:nth-of-type(1) .bg {background: url(../image/sub_image/coll_img01.jpg);}
.jewelry_info .list_5 > li:nth-of-type(2) .bg {background: url(../image/sub_image/coll_img02.jpg);}
.jewelry_info .list_5 > li:nth-of-type(3) .bg {background: url(../image/sub_image/coll_img03.jpg);}
.jewelry_info .list_5 > li:nth-of-type(4) .bg {background: url(../image/sub_image/coll_img04.jpg);}
.jewelry_info .list_5 > li:nth-of-type(5) .bg {background: url(../image/sub_image/coll_img05.jpg);}
.jewelry_info .list_5 li .jewelry_pro {display: flex; flex-wrap: nowwrap;}
.jewelry_pro li {width: 33.333333%; height: 378px; margin-right: -1px; border: 1px solid #bdbdbd;}
.jewelry_pro li a:nth-child(2) {display: block; text-align: center;}
.jewelry_pro li a:nth-child(2) .detail_page {line-height: 2.8; font-size: 18px;}
.jewelry_pro li:hover > a, .jewelry_pro li:focus > a {text-decoration: none; background: #6b6b6b; color: #fbfbfb; }

/*sub_2*/
.event {width: 1440px; margin: 0 auto; text-align: center;overflow: hidden;}
.event p:first-child img{padding-bottom: 80px; width: 1200px;height: 522px; }
.event ul {width: 1200px; margin: 0 auto;}
.event li {float: left;overflow: hidden;padding-bottom: 200px;background-repeat: no-repeat;}
.event li:nth-of-type(1) {background-image: url(../image/sub_image/e_pro01.gif);width: 1132px;height: 454px;}
.event li:nth-of-type(2) {background-image: url(../image/sub_image/e_pro02.gif);width: 1132px;height: 363px;}
.event li:nth-of-type(3) {background-image: url(../image/sub_image/e_pro03.gif);width: 1132px;height: 374px;}
.event li:nth-of-type(4) {background-image: url(../image/sub_image/e_pro04.gif);width: 1133px;height: 368px;}
.event p:last-child img {padding-bottom: 80px;}

/*sub_3*/
.a_g {width: 1440px; margin: 0 auto; text-align: center;}
.a_g p img {width: 1440px;height: 230px;}
.a_g ul {display: flex; flex-direction: column; width: 1200px; margin: 0 auto;}
.a_g li {overflow: hidden; padding: 80px;}
.a_g li a {text-indent: -1500px;display: block; background-repeat: no-repeat; overflow: hidden;}
.a_g li:nth-of-type(1) a{background-image: url(../image/sub_image/g_0.png);height: 492px; background-size: 100%;}
.a_g li:nth-of-type(2) a{background-image: url(../image/sub_image/g_1.jpg);width: 1201px;height: 656px;}
.a_g li:nth-of-type(3) a{background-image: url(../image/sub_image/g_2.jpg);width: 1201px;height: 336px;}
.a_g li:nth-of-type(4) a{background-image: url(../image/sub_image/g_3.jpg);width: 1201px;height: 694px;}
.a_g li:nth-of-type(5) a{background-image: url(../image/sub_image/g_4.jpg);width: 1201px;height: 484px;}
.a_g li:nth-of-type(6) a{background-image: url(../image/sub_image/g_5.jpg);width: 1201px;height: 660px;}
.a_g li:nth-of-type(7) a{background-image: url(../image/sub_image/g_6.jpg);width: 1201px;height: 337px;}
.a_g li:nth-of-type(8) a{background-image: url(../image/sub_image/g_7.jpg);width: 1201px;height: 518px;}

/*sub_4*/
.on_the_anvil {background-image: url(../image/sub_image/preparing.jpg);background-position: center center; background-repeat: no-repeat;margin: 0 auto;width:822px;height: 448px;padding: 200px 0;}